<a href="https://colab.research.google.com/github/Wonnho/colab/blob/main/function_lambda_day2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=-3
if a>0:
    print('positive')
else:
    print('0 or negatvie')

In [ ]:
#comprehension

In [ ]:
K=[n for n in range(1,6) if n%2==1]

In [ ]:
L=[]
for n in range(1,5):
    if n%2==1:
        L.append(n)

In [ ]:
L

[1, 3]

In [ ]:
#Function

In [ ]:
def say_hello():
    print('learn about function')

In [ ]:
def qr(x,y=1):
    q,r=0,0
    while True:
        x -=y
        if x>0:
            q +=1
        elif x<0:
            r=y+x
            break
        else:
            q +=1
            break
    return(q,r)

In [ ]:
qr(4)

(4, 0)

In [ ]:
#몫과 나머지를 구함

In [ ]:
def say(message='Sunday',times=1):
    print(message*times)

say()

Sunday

In [ ]:
say('Functor')

Functor

In [ ]:
#위치 인자

In [ ]:
#키워드 인자

In [ ]:
#lambda

In [ ]:
def plus(x,y):
    return x+y
plus(3,4)

7

In [ ]:
p=lambda x,y:x+y
p(3,4)

7

In [ ]:
#module

In [ ]:
# Fibonacci numbers module

def fib(n):    # write Fibonacci series up to n
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b

def fib2(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b

    return result

if __name__ == '__main__':
    print(fib2(10))

# 이 파일을 현재 폴더에 fibo.py로 저장하고
# import fibo
# from fibo import fib, fib2
# https://docs.python.org/ko/3/tutorial/modules.html

In [16]:
import fibonacci as fibo

In [18]:
fibo.fib(10)

0 1 1 2 3 5 8

In [21]:
fibo.fib2(2)

[0, 1, 1]

# 새 섹션

In [ ]:
# contrl+/ :주석해제

In [ ]:
import fibo

In [ ]:
fibo.fib(22)

In [ ]:
fibo.fib2(22)

In [22]:
def f369(n):
    if type(n) !=int or n<0:
        print("enter natural number only")
        return None
    #######    
    a=0
    a +=str(n).count('3')
    a +=str(n).count('6')
    a +=str(n).count('9')
    ########
    
    if a==0:
        return n
    else:
        return '짝'*a

In [23]:
f369(231)

'짝'

In [ ]:
#map function 함수를 입력받는 함수
#functional program #compare procedural program

In [24]:
users=[{'name':'Honggildong','age':35,'job':'teacher'},
       {'name':'Jenny','age':53,'job':'households'},
       {'name':'Joe','age':15,'job':'worker'}]
list(
    map(
        lambda u:str(u['age']//10*10)+'s',#<=function
        users ## iterable
        ) 
    )

['30s', '50s', '10s']

In [29]:
#functional programming 파이썬은 일부 함수형 프로그램을 지원
list(
    map(
        lambda u:str(u['age']//10*10)+'s', #function
                      users   # iterable
                      )
    )

['30s', '50s', '10s']

In [32]:
#변수를 여러개 받음
def element_wise_sum(x,y,z):
    return x+y+z
    
list(
map(
    element_wise_sum,
    [2,3,5],[7,9,11],[13,17,22]
)
)

[22, 29, 38]

In [ ]:
for x,y,z in zip([2,3,5],[7,9,11],[13,17,22]):
    print(x,y,z)

2 7 13
3 9 17
5 11 22

In [ ]:
for x,y,z in zip([2,3,5],[7,9,11],[13,17,22]):
    print(element_wise_sum(x,y,z))

22
29
38

In [ ]:
#Comprehension 
%%timeit
[element_wise_sum(x,y,z)for x,y,z in zip([2,3,5],[7,9,11],[13,17,22])]

The slowest run took 5.55 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 5: 1.11 µs per loop

In [33]:
[element_wise_sum(x,y,z) for x,y,z in zip([3,4,5],[9,1,3],[7,4,3])]

[19, 9, 11]

In [36]:
for x,y,z in zip([2,3,5],[5,7,8],[5,44,34]):# list 하나하나가 x,y,z에 할당=>
    print(element_wise_sum(x,y,z))#x의 한 원소와 y ,z의 각 한 원소가 더해져 합이 계산

12
54
47